<section class="aroma">
  <h2 class="aroma__title section-title">Ароматы продукции</h2>
  <div class="aroma__swiper">
  <div class="swiper-container aroma__swiper-container js-slider js-left-block">
      <div class="swiper-wrapper aroma__swiper-wrapper">
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Гурманский</b>
          <img class="aroma__slide-img" src="img/aroma-slide-1.png">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Древесный</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Травяной</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Фруктовый</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Цветочный</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Свежий</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
        <div class="aroma__slide swiper-slide">
          <b class="aroma__slide-title">Пряный</b>
<img class="aroma__slide-img" src="https://via.placeholder.com/240">
        </div>
      </div>
      </div>
    </div>
</section>
