<div class="swiper-container hits__swiper js-hits-swiper js-slider">
  <div class="swiper-wrapper">
    <include src="source/components/card-slide.html"></include>
    <include src="source/components/card-slide.html"></include>
    <include src="source/components/card-slide.html"></include>
    <include src="source/components/card-slide.html"></include>
    <include src="source/components/card-slide.html"></include>
    <include src="source/components/card-slide.html"></include>
  </div>
  <div class="swiper-button-next">
    <img src="img/sprite/slide-next.svg" alt="следующий слайд">
  </div>
  <div class="swiper-button-prev">
    <img src="img/sprite/slide-prev.svg" alt="предыдущий слайд">
  </div>
</div>
