<a href="#" class="card__link">
  <div class="card__img-wrapper">
    <img class="card__img" src="img/product-1_2x.png" alt="Продукт">
    <img class="card__img-hover card__hover" src="img/product-1-hover_2x.png" alt="Аромат">
  </div>
  <div class="card__description">
    <h3>Свеча Bocal Black Pepper And Pine</h3>
    <span>600 &#x20bd;</span>
  </div>
</a>
<button class="card__cart card__hover" type="button" aria-label="Добавить в корзину">
  <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="img/sprite.svg#shopping-bag"/>
  </svg>
</button>
<button class="card__like card__hover" type="button" aria-label="Добавить в избранное">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="img/sprite.svg#heart"/>
  </svg>
</button>
<form class="card__form count-form">
  <button type="button" class="count-form__btn count-form__btn--minus decrease" aria-label="Минус"></button>
  <label for="count-form" class="visually-hidden count-item">Количество</label>
  <input id="count-form" type="text" value="1" name="count-form">
  <button type="button" class="count-form__btn count-form__btn--plus increase" aria-label="Плюс"></button>
</form>
