<section class="category">
  <div class="category__container container">
    <div class="category__img"></div>
    <a href="#" class="category__link section-title" data-src="img/product-1_2x.png">Свечи</a>
    <a href="#" class="category__link section-title" data-src="img/aroma-slide-1.png">Диффузоры</a>
    <a href="#" class="category__link section-title" data-src="img/product-1-hover_2x.png">Тарталетки</a>
    <a href="#" class="category__link section-title" data-src="img/product-1_2x.png">Автопарфюм</a>
    <a href="#" class="category__link section-title" data-src="img/product-1_2x.png">Аксессуары</a>
    <a href="#" class="category__link section-title" data-src="img/product-1_2x.png">Бомбочки для ванн</a>
    <a href="#" class="category__link section-title" data-src="img/product-1_2x.png">Парфюм</a>
  </div>
</section>
