<section class="main-screen js-main js-section">
  <h1 class="main-screen__title">
    <span>Ucandles</span>
    <span>by Evgeni Gor</span>
  </h1>
  <a href="#" class="main-screen__button button-right">
    Каталог
    <img src="img/sprite/arrow-right.svg" alt="стрелка">
  </a>
  <div class="main-screen__img-wrapper"></div>
  <div class="main-screen__curtain main-screen__curtain--top"></div>
  <div class="main-screen__curtain main-screen__curtain--bottom"></div>
  <div class="main-screen__curtain main-screen__curtain--left js-left"></div>
  <div class="main-screen__curtain main-screen__curtain--right js-right"></div>
</section>
