<section class="manufactur js-text-container">
  <div class="manufacture__wrapper wrapper">
    <h2 class="visually-hidden">Арома-мануфактура</h2>
    <p class="manufacture__text section-title js-text">Арома-мануфактура Евгения Гора UCANDLES by Evgeni Gor с 2010 года производит свечи, диффузоры и парфюм для дома. Вся продукция компании изготавливается вручную, используя натуральные и природные ингредиенты.
    </p>
    <div class="manufacture__bottom">
    <a class="manufacture__button button button--right button--brown">
      О нас
                  <img src="img/sprite/arrow-right.svg" alt="стрелка">
    </a>
    </div>
  </div>
</section>
<section class="beauty js-parallax-beuty">
      <h2 class="visually-hidden">Картинка красивая</h2>
      <div class="beauty__wrapper wrapper">

      </div>
</section>
