<div class="header__dropdown menu" id="menu-catalog" data-content="header-dropdown">
  <div class="menu__container container">
    <div class="menu__list-wrap">
      <ul class="menu__list menu__list--main">
        <li class="menu__item header__arrow">
          <a href="#" class="menu__link active" data-toggle="catalog-header" data-target="#header-products">Продукция</a>
        </li>
        <li class="menu__item header__arrow">
          <a href="#" class="menu__link" data-toggle="catalog-header" data-target="#header-aroma">Аромат</a>
        </li>
        <li class="menu__item header__arrow">
          <a href="#" class="menu__link" data-toggle="catalog-header" data-target="#header-mood">Настроение</a>
        </li>
      </ul>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Хиты продаж</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Новинки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Акции</a>
        </li>
      </ul>
    </div>
    <div class="menu__content">
      <ul class="menu__submenu-list active" id="header-products" data-content="header-content">
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свечи серии Bocal</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свечи серии Verre</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свечи серии Chakras</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свечи серии Spa</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свечи серит Votiv</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Все свечи</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Диффузоры</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Парфюм</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Тарталетки</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Автопарфюм</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Бомбочки для ванн</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Аксессуары</a>
        </li>
      </ul>
      <ul class="menu__submenu-list" id="header-aroma" data-content="header-content">
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Гурманский</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Древесный</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Травяной</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Фруктовый</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Цветочный</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Свежий</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Пряный</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Мужской</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Афродизиак</a>
        </li>
      </ul>
      <ul class="menu__submenu-list" id="header-mood" data-content="header-content">
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Уют</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Энергия</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Романтика</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Релаксация</a>
        </li>
        <li class="menu__submenu-item">
          <a href="#" class="menu__submenu-link">Афродизиак</a>
        </li>
      </ul>
      <a href="#" class="menu__btn button-right">
        Смотреть всё
        <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
          <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
    <div class="menu__img">
      <img src="img/menu-bg.png" alt="">
    </div>
  </div>
</div>
