<div class="header__mobile-menu mobile-menu">
  <div class="mobile-menu__content" id="mobile-menu-catalog" data-content="mobile-dropdown">
    <a href="#" class="mobile-menu__back js-back-menu" data-target-mobile="#mobile-menu-catalog">Каталог</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item header__arrow">
        <a href="#" class="mobile-menu__link" data-toggle-mobile="mobile-nav" data-target-mobile="#mobile-products">Продукция</a>
      </li>
      <li class="mobile-menu__item header__arrow">
        <a href="#" class="mobile-menu__link" data-toggle-mobile="mobile-nav" data-target-mobile="#mobile-aroma">Аромат</a>
      </li>
      <li class="mobile-menu__item header__arrow">
        <a href="#" class="mobile-menu__link" data-toggle-mobile="mobile-nav" data-target-mobile="#mobile-mood">Настроение</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Хиты продаж</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Новинки</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Акции</a>
      </li>
    </ul>
    <a href="#" class="mobile-menu__btn button-right">
      Смотреть всё
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  <div class="mobile-menu__content" id="mobile-products" data-content="mobile-dropdown">
    <a href="#" class="mobile-menu__back" data-toggle-back="mobile-back" data-target-mobile="#mobile-menu-catalog">Продукция</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item header__arrow">
        <a href="#" class="mobile-menu__link" data-toggle-mobile="mobile-nav" data-target-mobile="#mobile-products-1">Свечи</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Диффузоры</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Парфюм</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Тарталетки</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Автопарфюм</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Бомбочки для ванн</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Аксессуары</a>
      </li>
    </ul>
    <a href="#" class="mobile-menu__btn button-right">
      Смотреть всё
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>

  <div class="mobile-menu__content" id="mobile-products-1" data-content="mobile-dropdown">
    <a href="#" class="mobile-menu__back" data-toggle-back="mobile-back" data-target-mobile="#mobile-products">Свечи</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свечи серии Bocal</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свечи серии Verre</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свечи серии Chakras </a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свечи серии Spa</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свечи серит Votiv</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Все свечи</a>
      </li>
    </ul>
    <a href="#" class="mobile-menu__btn button-right">
      Смотреть всё
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>

  <div class="mobile-menu__content" id="mobile-aroma" data-content="mobile-dropdown">
    <a href="#" class="mobile-menu__back" data-toggle-back="mobile-back" data-target-mobile="#mobile-products" data-toggle-back="mobile-back" data-target-mobile="#mobile-products">Аромат</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Гурманский</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Древесный</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Травяной</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Фруктовый</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Цветочный</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Свежий</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Пряный</a>
      </li>
    </ul>
    <a href="#" class="mobile-menu__btn button-right">
      Смотреть всё
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>

  <div class="mobile-menu__content" id="mobile-mood" data-content="mobile-dropdown">
    <a href="#" class="mobile-menu__back">Настроение</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Уют</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Энергия</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Романтика</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Релаксация</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Афродозиак</a>
      </li>
    </ul>
    <a href="#" class="mobile-menu__btn button-right">
      Смотреть всё
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path class="button-right__arrow" d="M6.16224 11.9757L20.3044 11.9935M20.3044 11.9935L16.0564 16.2308M20.3044 11.9935L16.0671 7.74555" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
</div>
