<section class="popup-cart">
  <div class="popup-cart__overflow"></div>
  <div class="popup-cart__container">
    <div class="popup-cart__content">
      <div class="popup-cart__close">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 22.1665L21.8492 7.31726" stroke="#975030" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M7 7L21.8492 21.8492" stroke="#975030" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <h3 class="popup-cart__title">Корзина</h3>
      <form action="#" class="promo-code" id="promo-code">
        <input type="text" placeholder="промокод">
        <button type="submit">
          <span>Применить</span>
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.16224 7.97575L15.3044 7.99352M15.3044 7.99352L11.0564 12.2308M15.3044 7.99352L11.0671 3.74555"
              stroke="#975030" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </form>
      <div class="popup-cart__body">
        <div class="popup-cart__item">
          <div class="popup-cart__item-row">
            <div class="popup-cart__item-image">
              <img src="img/catalog/catalog-1.png" alt="catalog 1">
            </div>
            <div class="popup-cart__item-body">
              <div class="row">
                <h4 class="popup-cart__item-name">Свеча Bocal 5 O'Clock at Mad Hatter's</h4>
                <div class="popup-cart__item-price price">
                  <div class="price__now"><span>690</span> ₽</div>
                </div>
              </div>
              <div class="row">
                <div class="popup-cart__item-count item-count">
                  <button class="item-count__btn">-</button>
                  <span class="item-count__var">1</span>
                  <button class="item-count__btn">+</button>
                </div>
                <button class="popup-cart__item-delete">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M30.5 16.0005C30.5 24.0086 24.0081 30.5005 16 30.5005C7.99187 30.5005 1.5 24.0086 1.5 16.0005C1.5 7.99236 7.99187 1.50049 16 1.50049C24.0081 1.50049 30.5 7.99236 30.5 16.0005Z"
                      stroke="#E8E8E8" />
                    <g opacity="0.6">
                      <rect x="12.2693" y="11.6128" width="11.1469" height="0.928906" rx="0.464453"
                        transform="rotate(45 12.2693 11.6128)" fill="#3A1307" />
                      <rect x="11.6127" y="19.4949" width="11.1469" height="0.928906" rx="0.464453"
                        transform="rotate(-45 11.6127 19.4949)" fill="#3A1307" />
                    </g>
                  </svg>
                  <span>Удалить</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-cart__item">
          <div class="popup-cart__item-row">
            <div class="popup-cart__item-image">
              <img src="img/catalog/catalog-1.png" alt="catalog 1">
            </div>
            <div class="popup-cart__item-body">
              <div class="row">
                <h4 class="popup-cart__item-name">Свеча Bocal 5 O'Clock at Mad Hatter's</h4>
                <div class="popup-cart__item-price price">
                  <div class="price__now"><span>552</span> ₽</div>
                  <div class="price__discount"><span>690</span> ₽</div>
                </div>
              </div>
              <div class="row">
                <div class="popup-cart__item-count item-count">
                  <button class="item-count__btn">-</button>
                  <span class="item-count__var">1</span>
                  <button class="item-count__btn">+</button>
                </div>
                <button class="popup-cart__item-delete">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M30.5 16.0005C30.5 24.0086 24.0081 30.5005 16 30.5005C7.99187 30.5005 1.5 24.0086 1.5 16.0005C1.5 7.99236 7.99187 1.50049 16 1.50049C24.0081 1.50049 30.5 7.99236 30.5 16.0005Z"
                      stroke="#E8E8E8" />
                    <g opacity="0.6">
                      <rect x="12.2693" y="11.6128" width="11.1469" height="0.928906" rx="0.464453"
                        transform="rotate(45 12.2693 11.6128)" fill="#3A1307" />
                      <rect x="11.6127" y="19.4949" width="11.1469" height="0.928906" rx="0.464453"
                        transform="rotate(-45 11.6127 19.4949)" fill="#3A1307" />
                    </g>
                  </svg>
                  <span>Удалить</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-cart__item-price">
        <p>Итого без учёта доставки</p>
        <span>1 242 ₽</span>
      </div>
      <a href="#" class="popup-cart__send">Оформить заказ</a>
    </div>
  </div>
  </div>
</section>