.about-care {
    max-width: 664px;
    padding: 120px 20px 235px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 1440px) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    @media(max-width: 1024px) {
      max-width: 432px;
  }

  @media(max-width: 767px) {
    padding-top: 68px;
    padding-bottom: 112px;
    padding-right: 40px;
    padding-left: 40px;
  }

    &__text {
        font-family: $font;
        font-size: 30px;
        line-height: 145%;
        text-align: center;
        margin: 0;

        @media(max-width: 1440px) {
            font-size: 28px;
        }

        @media(max-width: 1024px) {
          font-size: 22px;
          line-height: 32px;
      }

      @media(max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
      }

        &--bottom {
            @media(max-width: 1440px) {
                margin-top: -40px;
            }

            @media(max-width: 1024px) {
              margin: 0;
          }
        }
    }

    &__image-block {
        width: 100%;
        padding: 48px 104px;
        margin-top: -10px;

        & img {
            width: 100%;
            height: auto;
        }

        @media(max-width: 1440px) {
            padding: 80px 145px;
            margin-top: -40px;
        }

        @media(max-width: 1024px) {
          padding: 24px;
          margin: 0;
      }

      @media(max-width: 767px) {
        padding: 16px 40px;
      }
    }

}
