.aroma {
  padding-top: 50px;
  padding-bottom: 50px;

  & .swiper-container {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  & .swiper-slide {
    width: 368px!important;
    background: #F9F4EC;
    padding-top: 80px;
    height: 376px!important;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin: 0 auto 85px;
  }

  &__swiper-container {
    padding-left: 6.8%;
  }
  
  &__slide-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2936px;
    line-height: 31px;
    text-align: center;
    color: #3A1307;
  }

  &__slide-img {
    position: absolute;
    bottom: -24%;
    left: 62px;
    max-width: 240px;
    max-height: 240px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
}

@media(max-width: 1920px - 1) {
  .aroma {
    &__title {
      margin-bottom: 92px;
    }

    &__swiper-container {
      padding-left: 5.56%;
    }

    & .swiper-slide {
      width: 290px!important;
      padding-top: 50px;
      height: 300px!important;
    }

    &__slide-img {
      position: absolute;
      bottom: -30%;
      left: 37px;
      max-width: 216px;
      max-height: 216px;
      width: 100%;
      height: auto;
    }
  }
}

@media(max-width: 1440px - 1) {
  .aroma {
    &__title {
      margin-bottom: 43px;
    }

    &__swiper-container {
      padding-left: 6.2%;
    }

    & .swiper-slide {
      width: 247px!important;
      padding-top: 40px;
      height: 255px!important;
    }

    &__slide-img {
      position: absolute;
      bottom: -25%;
      left: 37px;
      max-width: 168px;
      max-height: 168px;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: $laptop-width) {
  .aroma {
    & .swiper-container {
      min-height: 350px;
    }
  }
}

@media(max-width: 768px - 1) {
  .aroma {
    &__title {
      margin-bottom: 43px;
    }

    & .swiper-slide {
      width: 184px!important;
      padding-top: 40px;
      height: 192px!important;
    }

    &__slide-img {
      position: absolute;
      bottom: -25%;
      left: 25px;
      max-width: 136px;
      max-height: 136px;
      width: 100%;
      height: auto;
    }

    &__slide-title {
      font-weight: normal;
      font-size: 12px;
      line-height: 119%;
      text-transform: uppercase;
    }

    & .swiper-container {
      min-height: 300px;
      padding-left: 8.2%;
    }
  }
}
