.category {
  padding: 220px 0 300px;

  @media (max-width: $desktop-min-width) {
    padding: 120px 0 300px;
  }

  @media (max-width: $laptop-width) {
    padding: 50px 0 150px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 130px;
  }


  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;

    @media (max-width: $tablet-width) {
      max-width: 100%;
    }

    @media (max-width: $mobile-width) {
      padding: 0;
    }
  }

  &__link {
    position: relative;
    padding: 12px 44px;
    margin: 0 44px;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -50px;
      display: block;
      width: 6px;
      height: 6px;
      background-color: $text;
      border-radius: 50%;
    }

    &:first-of-type,
    &:nth-of-type(2n + 4) {
      &::before {
        display: none;
      }
    }

    @media (max-width: $desktop-min-width) {
      padding: 12px 40px;
      margin: 0 40px;

      &::before {
        left: -40px;
      }
    }

    @media (max-width: $laptop-width) {
      padding: 12px 24px;
      margin: 0 24px;

      &::before {
        left: -24px;
      }
    }

    @media (max-width: $mobile-width) {
      padding: 6px 7px;
      margin: 0 7px;

      &::before {
        width: 4.5px;
        height: 4.5px;
        left: -7px;
      }

      &:nth-of-type(2n) {
        &::before {
          display: block;
        }
      }
    }
  }

  &__img {
    position: fixed;
    display: none;
    width: 360px;
    height: 390px;
    background-color: $light;
    background-size: 212px 208px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateX(-50%);

    @media (max-width: $desktop-min-width) {
      width: 280px;
      height: 304px;
      background-size: 150px 162px;
    }

    @media (max-width: $laptop-width) {
      display: none;
    }
  }
}
