.container {
  width: 100%;
  max-width: $desktop-width;
  padding: 0 128px;
  margin: 0 auto;

  @media (max-width: $desktop-min-width) {
    padding: 0 108px;
  }

  @media (max-width: $laptop-width - 1) {
    padding: 0 48px;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 0 32px;
  }

  @media (max-width: $mobile-width - 1) {
    padding: 0 10px;
  }
}
