/* Плагины */
@import "plugins/normalize";
@import "plugins/fancybox";
@import "plugins/swiper";
@import "plugins/aos";

/* Общие */
@import "functions";
@import "variables";
@import "mixins";
@import "fonts";
@import "global";

/* Блоки */
@import "blocks/cursor";
@import "blocks/container";
@import "blocks/menu";
@import "blocks/mobile-menu";
@import "blocks/page-title";
@import "blocks/section-title";
@import "blocks/social-list";
@import "blocks/button";
@import "blocks/button-right";
@import "blocks/main";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/footer";
@import "blocks/count-form";
@import "blocks/aroma";
@import "blocks/card";
@import "blocks/hits";
@import "blocks/manufacture";
@import "blocks/beauty";
@import "blocks/category";
@import "blocks/main-lookbook";
@import "blocks/main-presents";
@import "blocks/main-page";
@import "blocks/main-screen";


/* О нас */
@import "blocks/about-menu";
@import "blocks/about-info";
@import "blocks/about-care";

/* Каталог */
@import "blocks/catalog-filter";
@import "blocks/main-catalog";

/* Лукбук */
@import "blocks/lookbook";

/* Картояка товара */
@import "blocks/cart";
@import "blocks/popup-cartInfo";
